#more__section {
	min-height: 100vh;
	background-color: #f7d58f;
	padding: 2rem 0;
}
.more__title {
	color: black;
	text-align: center;
	font-size: 2.4rem;
	font-weight: 700;
}
.more__information {
	font-weight: 400;
	margin-top: 2rem;
}
.more__date {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}

.more__date p {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
	text-align: center;
}
.know-more {
	background-color: black;
	padding: 1rem 2rem;
	border-radius: 1rem;
	cursor: pointer;
}
.more__link {
	font-size: 2.4rem;
	color: #f1f1f1;
}
